/* exo */
section{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
/* exo1 */
section:first-child>h4{
    color: blue;
}
/* exo2 */
section:nth-child(2){
    border-bottom: 5px red solid;
}
/*  exo3 */
section:nth-child(3)>h3,
section:nth-child(3)>ul{
    color: red;
}
/* exo4 */
section:nth-child(4)>ul>li:nth-child(2){
    font-size: 25px;
}
/* exo5 */
section:nth-child(5)>h3+span{
    color: blue;
}
/* exo6 */
section:nth-child(6)>img{
    border: solid 3px red;
    border-radius: 50%;
}
section:nth-child(7)>p:hover{
    color: green;
}